body{
	background-color: black;
}

::-webkit-scrollbar {
	width: 12px;
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
	border-radius: 12px;
    background-color: #454a4d;
}

input {
    border-radius: 10px;
    border-width: 2.5px;
    border-style: solid;
    background-color: rgb(59, 59, 59);
    border-color: rgb(113, 113, 113);
    color: rgb(255,255,255);
}