body{
	background-color: black;
}

::-webkit-scrollbar {
		width: 12px;
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
	  border-radius: 12px;
    background-color: #454a4d;
}